:root{
    --fondo: #121111;
    --fondo2: lightblue;
    --texto1: rgb(0, 135, 253);
    --texto2: rgb(43, 156, 254);
    --texto3: #0274ed;
    --texto4: #0e8acd;
    --dimen: 12%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: visible;
    
    /*background-color: #636363;*/
}


header {
    background-color: #121111;
    color: #fff;
    padding: 20px 0;
    padding-bottom: 15px;
    padding-left: 5px;
    border-bottom: var(--texto4) 4px solid;
    
}
.iz{
    display: flex;
}

.logo{
    margin: auto;
    margin-right: 5%;
    font-size: 20px;
   
}
h4{
    font-size: 30px;
}
.saludo{
    color: rgb(255, 255, 255);
    color: rgb(37, 244, 255);
    /*background-color: rgba(0, 0, 0, 0.203);*/
    font-size: 65px;
    height: 70px;
    width: 77.5%;
    margin-left: 11%;
    margin-right: 15px;
    margin-top: 40px;
    font-family: sans-serif;
    text-align: center;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: aqua;
    -webkit-text-stroke-color: #0976eac7;
}
header img{ 
   margin-right: 30%;
   margin-right: 0;
}

header h1{ 
    font-weight: 600;
}

header:hover{ 
    color: aqua;
}

.a1{
    margin-right: 50px;
    border: var(--fondo) 3px solid;
    min-width: this;
}
.a1:hover{
    color: aqua;
    border: var(--texto2) 3px solid;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    
}



.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.t1{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.hero {
    background-image: url(graficos/galeria/portada.png);
    background-color:silver;
    background-size: 78%;
    min-width: 1500px;
    
    /*background-size: cover;*/
    background-position: center;
    height: 810px;
    border-bottom: var(--texto2) 4px solid;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    color: var(--texto3);

    text-align: center;
    font-size: 20px;
}

.caja{
    border-radius: 15px;
    border: var(--texto2) 4px solid;
    border: var(--texto4) 4px solid;
}

.hero-content h2 {
    font-size: 58px;
    margin-bottom: 20px;
}

.titular{
    text-align: center;
    margin-top: 4%;
    color: rgb(4, 4, 219);
    color: aqua;
    font-family: sans-serif;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--texto2);
}

.des{
    font-weight: bold;
    color: #000000;
   
}
.des1{
    font-weight: 900;
    font-size: 130%;
    color: #0d0460;
    color: #433f3f;
    
   
}

.btn-primary {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 26px;
}

.features-section {
    padding: 50px;
    border-top: var(--texto2) 4px solid;
    /*background-color: #f4f4f4;*/
    
    
}

.features-section h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-color: #007BFF;
}

.feature-item {
    background-color: silver;
    padding: 20px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contact-section {
    padding: 50px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section input,
.contact-section textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.contact-section button {
    padding: 10px 20px;
    background-color: #fff;
    color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/*
.oferta{
    text-align: center;
}

.oferta img{
    width: 60%;
}


*/
/* oferta: */
.oferta {
    margin: 1em auto;
}

.ofertas{
    text-align: center;
}
.ofertas img{
    border: 4px solid blue;
}

.ofertas button {
    padding: 1em;
    font-size: 1em;
    background-color: red;
    cursor: pointer;
    border: 2px solid #00bfff;
}

.t2{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}


/* acerca de: */

.about-section {
   margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    /*background-color: #fff;*/
    background-color: #3c3b3b;
    text-align: center;
}
.map{
    text-align: center;
    font-size: 30px;
    margin: 50px;
}
.equipod{
    display: flex;
    text-align: justify;
}
.inf1{
    width: calc(100% - var(--dimen));

}
.img2{
    width: var(--dimen);
    height: 3%;
    margin-top: 5%;
    margin-left: 1%;

}
.t3{  
    width: 110%;
    color: #bcbcbc;
    
    font-size: 30px;
    font-weight: 700;
    height: 7%;
    padding-right: 10%;
    text-align: center;
}

.t3 :hover{
    color: var(--texto4);
    color: red;
}
.equipod img{
    margin-right: 2%;
}

.video{
 margin-top: 30px;
 text-align: center;

}

/* Productos: */

body {
    font-family: Arial, sans-serif;
    background-color: rgb(33, 31, 31);
}

.card {
    margin-bottom: 20px;
    background-color: rgb(33, 31, 31);
    color: #ffffff;
    margin: 10%;
    border: var(--texto4) 4px solid;
    border: rgb(8, 161, 161) 4px solid;
}


.t01{
    font-size: 21px;
    
    font-weight: 600;
    font-family: default;
}
.card-body{
    border-top: rgb(8, 161, 161) 7px solid;
    background-color: rgba(7, 44, 255, 0.769);
}

.barprod nav ul a{
    padding-top: 15px;
    position: relative;
    display: flex;
 
    font-weight: 900;
}



/* mision */

.acerca h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 900;
}

.mision-vision {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #ffffff;
}

.mision, .vision {
    width: 45%;
}

.mision-vision h3, .objetivos h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 900;
}

.mision-vision p, .objetivos ul {
    font-size: 15px;
    color: #ffffff;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}
.acerca, .mision-vision, .objetivos {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.btn1{
    font-size: 15px;
}
.btn1:hover{
    color: rgb(12, 89, 255);
    font-weight: 900;
    
}
.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-color: #007BFF;
}




    
